{% extends 'base.html.twig' %}

{% block title %}Hello PriceController!{% endblock %}

{% block body %}
<div class="container">

    <!-- ============================ COMPONENT PRICING 1  ================================= -->
    <div class="card-deck mb-3 text-center row mt-2">
        <div class="col-sm-4">
            <div class="card">
                <div class="card-header">
                    <h5 class="my-0">Free</h5>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">$0 <small class="text-muted">/ mo</small></h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>10 users included</li>
                        <li>2 GB of storage</li>
                        <li>Email support</li>
                        <li>Help center access</li>
                    </ul>
                    <a href="#" class="btn  btn-block btn-outline-primary">Sign up for free</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <div class="card-header">
                    <h5 class="my-0">Free</h5>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">$0 <small class="text-muted">/ mo</small></h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>10 users included</li>
                        <li>2 GB of storage</li>
                        <li>Email support</li>
                        <li>Help center access</li>
                    </ul>
                    <a href="#" class="btn  btn-block btn-outline-primary">Sign up for free</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <div class="card-header">
                    <h5 class="my-0">Free</h5>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">$0 <small class="text-muted">/ mo</small></h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>10 users included</li>
                        <li>2 GB of storage</li>
                        <li>Email support</li>
                        <li>Help center access</li>
                    </ul>
                    <a href="#" class="btn  btn-block btn-outline-primary">Sign up for free</a>
                </div>
            </div>
        </div>
    </div> <!-- card-deck.// -->

    <!-- ============================ COMPONENT PRICING 1 END .// ================================= -->

    <br><br>

    <!-- ============================ COMPONENT PRICING 2  ================================= -->
    <div class="row">
        <div class="col-lg-3 col-md-6">
            <article class="card item-pricing mb-3">
                <h6 class="card-header">
                    <small class="text-uppercase">Premium Package</small>
                </h6>
                <div class="card-body">
                    <p class="price"><strong>$5000 </strong> year</p>

                    <ul class="list-check" style="min-height: 200px">
                        <li>Verified Icon </li>
                        <li>Customized Website</li>
                        <li>Priority Ranking: 1</li>
                        <li>Customer Service</li>
                        <li>Sub-accounts</li>
                        <li>Unlimited products</li>
                    </ul>
                    <a href="#" class="btn btn-primary btn-block">Upgrade</a>
                </div> <!-- card-body.// -->
            </article> <!-- item-pricing .// -->
        </div> <!-- col.// -->
        <div class="col-lg-3 col-md-6">
            <article class="card item-pricing mb-3">
                <h6 class="card-header">
                    <small class="text-uppercase">Standart</small> <span class="badge badge-danger"> Popular </span>
                </h6>
                <div class="card-body">
                    <p class="price"><strong>$1000 </strong> year</p>
                    <ul class="list-check" style="min-height:200px">
                        <li>Verified Icon </li>
                        <li>Customized Website</li>
                        <li>Priority Ranking: 1</li>
                        <li>Customer Service</li>
                        <li>Sub-accounts</li>
                        <li>Limited products</li>
                    </ul>
                    <a href="#" class="btn btn-primary btn-block">Upgrade</a>
                </div> <!-- card-body.// -->
            </article> <!-- item-pricing .// -->
        </div> <!-- col.// -->
        <div class="col-lg-3 col-md-6">
            <article class="card item-pricing mb-3">
                <h6 class="card-header">
                    <small class="text-uppercase">Basic Package </small>
                </h6>
                <div class="card-body">
                    <p class="price"><strong>$2000 </strong> year</p>
                    <ul class="list-check" style="min-height: 200px">
                        <li>Verified Icon </li>
                        <li>Customized Website</li>
                        <li>Priority Ranking: 1</li>
                        <li>Customer Service</li>
                        <li>Sub-accounts</li>
                        <li>20 products</li>
                    </ul>
                    <a href="#" class="btn btn-primary btn-block">Upgrade</a>
                </div> <!-- card-body.// -->
            </article> <!-- item-pricing .// -->
        </div> <!-- col.// -->
        <div class="col-lg-3 col-md-6">
            <article class="card item-pricing mb-3">
                <h6 class="card-header">
                    <small class="text-uppercase">FREE Member</small>
                </h6>
                <div class="card-body">
                    <p class="price"><strong>FREE</strong> for life</p>
                    <ul class="list-check" style="min-height: 200px">
                        <li>Customized Website</li>
                        <li>Priority Ranking: 1</li>
                        <li>Customer Service</li>
                        <li>5 products</li>
                    </ul>
                    <a href="#" class="btn btn-primary btn-block">Join</a>
                </div> <!-- card-body.// -->
            </article> <!-- item-pricing .// -->
        </div> <!-- col.// -->
    </div> <!-- row.// -->
    <!-- ============================ COMPONENT PRICING 2 END .// ================================= -->

    <br>




</div>
{% endblock %}