{% extends 'base.html.twig' %}

{% block title %}NawaraTech{% endblock %}

{% block body %}
{% include "partials/caroussel.html.twig" %}
{#% include "partials/swiper.html.twig" %#}

<div data-aos="zoom-in-up" class="card mt-2 mb-2">
    <div class="card-body">
        NawaraTech est une entreprise informatique basé au tchad faisant du Developpement mobile web et desktop.
        <br> Elle a pour objectif de transmetre le savoir en faisant des formations.
    </div>
</div>
<div class="row">
    {% set services = services(10) %}
    {% for service in services %}
    {% include "home/service_liste2.html.twig" %}
    {% endfor %}
</div>

<div class="card" data-aos="zoom-out">
    <div class="card-header font-weight-bold text-center">
       {% trans %}Nos realisations{% endtrans %}
    </div>
    <div class="card-body">
        {% include "partials/swiper.html.twig" %}
    </div>
    <div class="card-footer">
        <a href="#!" class="btn btn-sm btn-primary">{% trans %}voire plus{% endtrans %}</a>
    </div>
</div>


<div class="modal fade" id="readService" tabindex="-1" aria-labelledby="readServiceLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div id="content">

          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">{% trans %}Fermer{% endtrans %}</button>
        </div>
      </div>
    </div>
  </div>
  <script>
    var modal = document.querySelector('#readService')
    modal.addEventListener('show.mdb.modal', function (event) {
      // Button that triggered the modal
      var button = event.relatedTarget
      // Extract info from data-bs-* attributes
      var recipient = button.getAttribute('data-mdb-whatever')
      // If necessary, you could initiate an AJAX request here
      // and then do the updating in a callback.
      //
      // Update the modal's content.
      var content = document.querySelector('#content')
       content.innerHTML = recipient
    })
  </script>
{% endblock %}
