{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<div class="row">
    <div class="col-3 bg-secondary side">

    </div>
    <div class="col-9">

    </div>
</div>
{% endblock %}
