<!-- Footer -->
<footer class="bg-light text-center text-lg-start mt-2 fixed-bottom">
    <!-- Grid container -->
    <div class="container p-4">
      <!--Grid row-->
      <div class="row">
        
      </div>
      <!--Grid row-->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3 bg-primary text-white">
      © {{ 'NOW' |date('Y') }} Copyright:
      <a class=" text-white" href="https://mdbootstrap.com/">NawaraTech</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->