{% extends 'base.html.twig' %}

{% block title %}Hello ServiceController!{% endblock %}

{% block body %}
<div class="row">
    {% include "service/service_listing.html.twig" %}
</div>
{% endblock %}
