{% extends 'base.html.twig' %}

{% block title %}{% trans %}Réalisation{% endtrans %}{% endblock %}

{% block body %}
<div  data-aos="fade-right" class="row mt-2">
    <div class="col-12 mb-2">
        <div class="card">
            <div class="card-header text-center fw-bold">
               {% trans %}Ajouter une réalisation{% endtrans %}
            </div>
            <div class="card-body">
                {{form_start(form)}}
                {{form_widget(form)}}
                <button type="submit" class="btn btn-primary" type="button">{% trans %}Enregistrer{% endtrans %}</button>
                {{form_end(form)}}
            </div>
        </div>
    </div>
    <div  data-aos="fade-left" class="col-12">
        <div class="row">
            {% include "admin_realisation/listing.html.twig" %}
        </div>
    </div>
</div>
{% endblock %}