{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}
{% block css %}

{% endblock %}

{% block body %}
<div class="container">
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary mt-2" data-mdb-toggle="modal" data-mdb-target="#exampleModal">
        {% trans %}Ajouter un service{% endtrans %}
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">{% trans %}Ajouter un service{% endtrans %}</h5>
                    <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {{ form_start(form)}}
                    {{ form_widget(form)}}
                    <button type="submit" class="btn btn-primary mt-2">Ajouter</button>
                    {{ form_end(form)}}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        {% include "admin/service_listing.html.twig" %}
    </div>
</div>

{% endblock %}