{% extends 'base.html.twig' %}

{% block title %}Hello AdminMenbreController!{% endblock %}

{% block body %}
<div class="row mt-2">
    {% include "admin_menbre/listing.html.twig" %}
</div>
{% endblock %}
