{% for menbre in menbres %}
<div data-aos="zoom-in-up" class="col-sm-6 service col-md-4 col-lg-4 mb-2">
    <!-- Card -->
    <div class="card testimonial-card">

        <!-- Background color -->
        <div class="card-up peach-gradient"></div>

        <!-- Avatar -->
        <img src="{{ menbre.photo}}" alt="" class="avatar mx-auto">

        <!-- Content -->
        <div class="card-body">
            <!-- Name -->
            <h4 class="card-title">{{ menbre.nom}}</h4>
            <!-- Quotation -->
            <p><i class="fas fa-quote-left"></i> {{ menbre.role}}"
            </p>
        </div>

    </div>
    <!-- Card -->
</div>
{% endfor %}